.Info{
    background-color: rgba(7, 6, 6, 0.856);
    color:#fff;
    border-radius: 3%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    padding: 10px;
    font-weight: 600;
    box-shadow: 1px 7px 7px rgb(10, 10, 10);
}
