.Info{
    background-color: #000;
    color:#fff;
    border-radius: 2%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    padding: 10px;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgb(179, 174, 174);
}
